@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;  /* HTML elementleri arasında boşluk oluşturabilirsiniz. */
    padding: 0;  /* etiketlerin iç boşluklarını tanımlar */
    box-sizing: border-box;   /* bir etiketin toplam genişliğine ve yüksekliğine padding ve border'ı dahil etmemizi sağlar. */
    font-family: 'Poppins', sans-serif; /* hangi font ailesini kullanmak istiyorsanız belirtmenizi sağlar. */
}

body {
    background: #eaeaea;   /* belgenin arka plan resmini tanımlar. */
    color: #222;   /* yazının rengini belirlemek için kullanılır */
    
}

.header{
    position: fixed;  /*  sayfa içerisindeki konumunu belirlememize yardımcı olan bir özelliktir. */
    top: 0;    /* üst (top), alt (bottom), sağ (right) ve sol (left)  */
    left: 0;
    width: 100%;  /* tablonun genişliğini belirtir */
    padding: 30px 8%;   /* etiketlerin iç boşluklarını tanımlar */
    background: transparent;  /*  transparent : saydamlık değerini belirtebiliriz. */ 
    display: flex;    /* bir HTML elemanı için kullanılan kutu türünü belirtir. */
    justify-content: space-between;   /*flex ile bağlantılı - yatay eksende nasıl hizalanacağını ayarlar */
    align-items: center;  /* ustify-content'in yatay eksende yaptığı şeyleri dikey eksende yapmaya yarar. */
    z-index: 100;  /* aynı z-ekseninde bulunan(kapsayan elementler hariç) katmanların altta mı üstte mi kalacağınız belirlemek için kullanılır.  */
}

.logo{
    font-size: 25px;   /* yazı tipinin (fontun) boyutunu belirlemek için kullanılır. */
    color: #222;
    text-decoration: none; /* metindeki biçimlendirmeleri ayarlamak veya kaldırmak için kullanılır. Bu özelliği genelde linklerde ki alt çizgiyi kaldırmak için kullanırız.*/
    font-weight: 600;  /* yazı tipinin kalınlığını belirtmek için kullanılır. */
    opacity: 0;
    animation: slideRight 1s ease forwards; /* bir öğenin bir stilden diğerine belirlediğimiz sürede değişmesini sağlar. */
}

.navbar a{
    display: inline-block;
    font-size: 18px; /* yazının boyutunu ayarlar*/
    color: #222;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;  /* Transition yavaş başlar ortalarına doğru hızlanır ve yavaşlayarak sona erer */
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {   /* hover : fareyle üzerine geldiğinde link rengini değiştir.*/
    color: #1743e3;
}

.social-media{
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg); /* bir Html etiketi üzerinde döndürme, boyutlandırma, eğme gibi işlemleri gerçekleştirebiliriz.*/
    transition: .5s;
    opacity: 0;
    animation: slideSci 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover{
    border-color: #eaeaea;
}

.social-media a i{
    font-size: 24px;
    color: #eaeaea;
    transform: rotate(-45deg);
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 8% 0;
    overflow: hidden;  /* overflow: hidden; içerik bir öğenin sınırlarından taşarsa ne olacağını belirtir. */
}

.home-content{
    max-width: 630px;
}

.home-content h1{
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
    line-height: 1.2;  /* Varsayılan satır yüksekliğidir. */
    font-size: 50px
    
}

.home-content h3{
    font-size: 40px;
    color: #1743e3;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1.3s;

}

.home-content p{
    font-size: 16px;
    margin: 15px 0 30px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.6s;
}

.btn{
    display: inline-block;
    padding: 10px 28px;
    background: #1743e3;
    border: 2px solid #1743e3;
    border-radius: 6px;  /* yuvarlak kenar özelliği verme işine yarıyor.  */
    box-shadow: 0 0 10px rgb(0, 0, 0, .1); /* bir HTML öğesininin arka planına gölgelendirme vermek için kullanılır */
    font-size: 16px;
    color: #eaeaea;
    letter-spacing: 1px;  /* kelimeleri oluşturan harfler arasında boşluk bırakmayı sağlar */
    text-decoration: none;
    font-weight: 600;
    transition: .5s; /* buttonun üstüne gittiğinde 5s yavaş hareket ediyor.*/
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    
}

.btn:hover{
    background: transparent;
    color: #1743e3;
}

.home-img{
    position: relative;

    width: 450px;
    height: 450px;
    transform: rotate(45deg);
}

.home-img .rhombus{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eaeaea;
    border: 25px solid #1743e3;
    box-shadow: -15px 15px 15px rgba(0, 0, 0, .2);
    opacity: 0;
    animation: zoomOut 1s ease forwards;
    animation-delay: 1.6s;
}

.home-img .rhombus img{
    position: absolute;
    top: 110px;
    left: -250px;
    max-width: 750px;
    transform: rotate(-45deg);
    opacity: 0;
    animation: car 1s ease forwards;
    animation-delay: 2s;
}

.home .rhombus2{
    position: absolute;
    top: -25%;
    right: -25%;
    width: 700px;
    height: 700px;
    background: #1743e3;
    transform: rotate(45deg);
    z-index: -1;
    opacity: 0;
    animation: rhombus2 1s ease forwards;
}

/* KEYFRAMES ANIMATION */
@keyframes slideRight {
    0% {   /* 0%: Animasyonun başlangıç anını ifade eder.  */
        transform: translateX(-100px); /* translateX(-100px); ile 100 piksel sola kaydırılır*/
        opacity: 0;  /* ve opacity: 0; ile görünmez yapılır (tamamen saydamlık). */
    }
    100% {
        transform: translateX(0);  /* ve opacity: 0; ile görünmez yapılır (tamamen saydamlık). */
        opacity: 1;   /* ve opacity: 1; ile tamamen görünür hale getirilir. */
    }
}

@keyframes slideLeft {
    0% {   
        transform: translateX(100px); 
        opacity: 0; 
    }
    100% {
        transform: translateX(0);  
        opacity: 1; 
    }
}

@keyframes slideTop {
    0% {   
        transform: translateY(100px); 
        opacity: 0; 
    }
    100% {
        transform: translateY(0);  
        opacity: 1; 
    }
}

@keyframes slideBottom {
    0% {   
        transform: translateY(-100px); 
        opacity: 0; 
    }
    100% {
        transform: translateY(0);  
        opacity: 1; 
    }
}

@keyframes slideSci {
    0% {  
        transform: translateX(100px) rotate(45deg); 
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotate(45deg); 
        opacity: 1; 
    }
}

@keyframes zoomOut {
    0% {   
        transform: scale(1.1);
        opacity: 0; 
    }
    100% {
        transform: scale(1);
        opacity: 1; 
    }
}

@keyframes car {
    0% {   
        transform: translate(300px, -300px) scale(0) rotate(-45deg);
        opacity: 0; 
    }
    100% {
        transform: translate(0, 0) scale(1) rotate(-45deg);  
        opacity: 1; 
    }
}

@keyframes rhombus2 {
    0% {   
        right: -40%;
        opacity: 0; 
    }
    100% {
        right: -25%;
        opacity: 1; 
    }
}